<div class="content-body" color="accent">
  <form [formGroup]="joinForm" role="form" (submit)="addUser(joinForm)">
    <div class="join-form standardForm">
      <mat-form-field class="form-row col4">
        <mat-label>Name</mat-label>
        <input type="text" matInput name="name" placeholder="Enter Name" formControlName="name">
        <mat-error *ngIf="name.invalid">Please Enter a Name</mat-error>
      </mat-form-field>
      <mat-form-field class="form-row col4">
        <mat-label>Email</mat-label>
        <input type="text" matInput name="email" placeholder="Enter Email" formControlName="email">
        <mat-error *ngIf="email.invalid">Please Enter a Email</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="col4" [disabled]="joinForm.invalid">Join >></button>
    </div>
  </form>
</div>